
@font-face {
    font-family: Dosis;
    src: url(../assets/Dosis-Regular.ttf);
}

@font-face {
    font-family: SourceSans;
    src: url(../assets/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: SourceSansBold;
    src: url(../assets/SourceSansPro-Bold.otf);
}


.SourceSans {
    font-family: SourceSans;
}




.Dosis {
    font-family: Dosis;
}



.white {
    color: white;
}

.txtAlingEnd {
    text-align: end;
}

.paddingNavItems{
    padding-right: 10%;
    padding-left: 4%;
}



.middle {
    display: flex;
    align-items: center;
}

.middle2 {
    display: flex;
    align-content: center;
}

.navbarItemSize {
    width: 100%;
}

.even {
    display: flex;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: end;
}

.nothing {
    text-decoration: none;
}

.navFontSize {
font-size: 20px;
}

.luxuryFontSize {
    font-size: 45px;
}

.luxuryFontSize2 {
    font-size: 16px;
}

.paddingHamster {
    padding-top: 5%;
    padding-bottom: 3%;
}

.paddingRooms {
    padding-top: 2%;
    padding-bottom: 2%;
}

.paddingRooms2 {
    padding-bottom: 4%;
}

.between {
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: top;
}



.roomspicSize {
    height: 190px;
    width: 369px;
}

.start {
    display: flex;
    justify-content: start;
}

.end {
    display: flex;
    justify-content: end;
}

.welcomeHamSize {
    font-size: 35px;
}

.cardBorder {
    border: none;
    border-radius: 0%;
}

.cardPadding {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
}



.txtCenter {
    text-align: center;
}

.paddingAmenities {
    padding-top: 2%;
    padding-bottom: 8%;
}

.paddingAmenities2 {
    padding-top: 6%;
}

.paddingFooter {
    padding-top: 1%;
    padding-bottom: 3%;
}

.around {
    display: flex;
    justify-content: space-around;
}



.paddingReserve {
    padding-top: 5%;
    padding-bottom: 5%;
}

.paddingReserve2 {
    padding-top: 3%;
    padding-bottom: 2%;
}

.paddingReserve3 {
    padding-bottom: 4%;
}

.bold {
    font-family: SourceSansBold;
}

.down {
    display: flex;
    align-items: end;
}

.paddingInputs {
    padding-right: 4%;
    padding-left: 4%
}

.paddingHeader {
    padding-top: 7%;
    padding-bottom: 7%;
}

.hov:hover{
    outline: 1px solid white;
    color: white;
}

.hov:focus {
    color: white !important;
}

.nav-link {
    color: white;
}

.outline {
    outline: 1px solid white;
}

.navTxt {
    height: 33px;
}

.titleHam {
    margin-top: -12px;
    padding-bottom: 2%;
}

.lineSpace {
    word-spacing: 0px;
    line-height: 20px;
}

.packagesFontSize {
    font-size: 25px;
}

.packagesFontSize2 {
    font-size: 35px;
}

.packagesFontSize3 {
    font-size: 25px;
}

.paddingPackageTitle{
    padding-top: 3%;
}

.paddingPackage{
    padding-top: 5%;
    padding-bottom: 5%;
}

.price {
    color: #1F51A8;
}

.lineSpaceUL {
    line-height: 40px;
    margin-left: 3px;
}

.paddingBtns {
    margin-left: 4%;
}

.paddingBtns2 {
    margin-left: 4%;
}

.btnPad {
    margin-right: -26px;
}



.btnColor {
    background-color: #004CC7;
}

.black {
    color: #1A1B26;
}

.pBelow {
    padding-bottom: 16px;
}

.reserve {
    padding-left: 1%;
    padding-right: 1%;
}

@media screen and (max-width: 767px) {
    p.mediaQ {
        font-weight: bold;
    }

    h2.mediaQ {
        font-weight: bold;
    }

    h5.mediaQ {
        font-weight: bold;
    }
}

.mediaQ {
    opacity: 100%;
}

.bg24 {
    background-image: url(../assets/24hour.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgBreakfast {
    background-image: url(../assets/breakfast.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgValet {
    background-image: url(../assets/valet.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgPool {
    background-image: url(../assets/pool.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgCheck {
    background-color: red;
}
.bgWhite {
    background-color: white;
}

.bgQueen {
    background-image: url(../assets/room1.jpg);
    background-position-y: 60%;
    background-position-x: 30%;
    background-size: 170%;
}

.bgKing {
    background-image: url(../assets/room3.jpg);
    background-position-y: 49%;
    background-position-x: 30%;
    background-size: 175%;
}

/* d-md-none d-lg-block
    d-none d-sm-none d-md-block d-lg-none */

.bgSuite {
    background-image: url(../assets/room2.jpg);
    background-position-y: 49%;
    background-position-x: 30%;
    background-size: 175%;
}

.bgDark {
    background-color: #000324;
}

.headerBg {
    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 56%;
    background-position-x: 40%;
    
}

.luxuryBg {
    background-color: hsla(235, 100%, 7%, 0.8);
    height: 232px; 
    width: 100%;
    text-align: center;
}

.roomsBg {
    background-image: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
}

.amenitiesBg {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
}

.bgHamReserve {
    background-image: url(../assets/hamsterreserve.jpg);
    background-size: cover;
    background-position-y: 70%;
}

.bgParadise {
    background-image: url(../assets/hamsterhomejpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgWedding {
    background-image: url(../assets/hamsterwedding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bgBloom {
    background-image: url(../assets/hamsterspring.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 35%;
}

.bgCheese {
    background-image: url(../assets/hamstercheese.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
}