
@font-face {
    font-family: Dosis;
    src: url(../assets/Dosis-Regular.ttf);
}

@font-face {
    font-family: SourceSans;
    src: url(../assets/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: SourceSansBold;
    src: url(../assets/SourceSansPro-Bold.otf);
}

.bgCheck {
    background-color: red;
}
.bgWhite {
    background-color: white;
}

.Dosis {
    font-family: Dosis;
}

.bgDark {
    background-color: #000324;
}

.white {
    color: white;
}

.txtAlingEnd {
    text-align: end;
}

.paddingNavItems{
    padding-right: 10%;
    padding-left: 4%;
}

.headerBg {
    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.luxuryBg {
    background-color: hsla(235, 100%, 7%, 0.8);
    height: 232px; 
    width: 100%;
    text-align: center;
}



.middle {
    display: flex;
    align-items: center;
}

.middle2 {
    display: flex;
    align-content: center;
}

.navbarItemSize {
    width: 100%;
}

.even {
    display: flex;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: end;
}

.navFontSize {
font-size: 20px;
}

.luxuryFontSize {
    font-size: 45px;
}

.luxuryFontSize2 {
    font-size: 16px;
}

.paddingHamster {
    padding-top: 7%;
    padding-bottom: 5%;
}

.paddingRooms {
    padding-top: 2%;
    padding-bottom: 2%;
}

.paddingRooms2 {
    padding-bottom: 5%;
}

.between {
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    align-items: top;
}

.roomsBg {
    background-image: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.roomspicSize {
    height: 190px;
    width: 369px;
}

.start {
    display: flex;
    justify-content: start;
}

.end {
    display: flex;
    justify-content: end;
}

.welcomeHamSize {
    font-size: 35px;
}

.cardBorder {
    border: none;
    border-radius: 0%;
}

.cardPadding {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
}

.amenitiesBg {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
}

.txtCenter {
    text-align: center;
}

.paddingAmenities {
    padding-top: 2%;
    padding-bottom: 8%;
}

.paddingAmenities2 {
    padding-top: 6%;
}

.paddingFooter {
    padding-top: 1%;
    padding-bottom: 5%;
}

.around {
    display: flex;
    justify-content: space-around;
}

.bgHamReserve {
    background-image: url(../assets/hamsterreserve.jpg);
    background-size: cover;
    background-position-y: 70%;
}

.paddingReserve {
    padding-top: 5%;
    padding-bottom: 5%;
}

.paddingReserve2 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.paddingReserve3 {
    padding-bottom: 4%;
}

.bold {
    font-weight: bold;
}

.down {
    display: flex;
    align-items: end;
}

.paddingInputs {
    padding-right: 3%;
    padding-left: 3%
}

.paddingHeader {
    padding-top: 6%;
    padding-bottom: 6%;
}

.bgParadise {
    background-image: url(../assets/hamsterhomejpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.outline {
    outline: 1px solid white;
}

.navTxt {
    height: 33px;
}

.titleHam {
    margin-top: -12px;
    padding-bottom: 2%;
}

.lineSpace {
    word-spacing: 0px;
    line-height: 20px;
}

.packagesFontSize {
    font-size: 25px;
}

.paddingPackageTitle{
    padding-top: 3%;
}

.price {
    color: #1F51A8;
}

.lineSpaceUL {
    line-height: 40px;
    margin-left: -10px;
}